<mat-accordion *ngFor="let patient of patients">
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>account_circle</mat-icon>
        {{  patient.fullName }}
      </mat-panel-title>
      <mat-panel-description>

        Ngày Sinh : {{patient.birthDay}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-accordion *ngFor="let vaccineRoad of patient.vaccineRoadList">
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
       <span class="material-icons">add_circle</span>
            Tên Vắc-xin: {{vaccineRoad.vaccine.name}}
          </mat-panel-title>
          <mat-panel-description>
            Loại Vắc-xin:{{vaccineRoad.vaccine.category}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-accordion *ngFor="let vaccineRoadDetails of vaccineRoad.vaccineRoadDetailsList">
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>forward</mat-icon>
                {{"Đợt Tiêm : " + vaccineRoadDetails.injectionTimes}}
              </mat-panel-title>
              <mat-panel-description>
                Ngày Tiêm : <span class="badge badge-secondary">  {{vaccineRoadDetails.injectionDate}}</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <h6>Thông Tin Tiêm Chủng Chi Tiết</h6>
            <p>Trạng Thái Tiêm Chủng : <span
              class="badge badge-danger">  {{vaccineRoadDetails.isInjected ? 'Đã Tiêm' : 'Chưa Tiêm'}}                </span>
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>
