<header id="header" class="header header-desktop">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-4 hidden-mobi">
                    <a href="/" title="">
                        <img src="../../../assets/logo.png" alt="Logo" class="img-responsive">
                    </a>
                </div>
                <!--col-lg-4-->
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-8">
                    <div class="list-inline top-right">
                        <div class="hotline_top" style="float:right;">
                            <a class="phone_header " href="">Hotline: 028 6425 7789 </a></div>
                        <div style="float:right;">
                            <ul id="menu-menu_top" class="nav navbar-nav">
                                <li id="menu-item-8060"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8060">
                                    <a href="https://vnvc.vn/y-kien-khach-hang/">KHẢO SÁT</a></li>
                                <li id="menu-item-1083"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1083">
                                    <a href="https://vnvc.vn/tin-tuc/">Tin Tức</a></li>
                                <li id="menu-item-4659"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4659">
                                    <a
                                        href="https://vnvc.vn/tuyen-dung/nhung-ly-nen-lam-viec-tai-cong-ty-vacxin-viet-nam/">TUYỂN
                                        DỤNG</a></li>
                                <li id="menu-item-3926"
                                    class="hidden menu-item menu-item-type-post_type menu-item-object-page menu-item-3926">
                                    <a href="https://vnvc.vn/lien-he/">LIÊN HỆ</a></li>
                            </ul>
                        </div>
                        <div class="wrap_ttt_header text-right">
                            <a class="trucuyen_header " href="https://vnvc.vn/truc-tuyen/"> TRỰC TUYẾN </a>
                            <a class="dangkythongtintiemchung_header "
                                href="https://vnvc.vn/dang-ky-thong-tin-tiem-chung/"> ĐĂNG KÝ TIÊM </a>

                            <a href="https://vnvc.vn/he-thong-trung-tam-tiem-chung/" class="item_ttt_header"> TÌM
                                TRUNG TÂM</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--top-bar-->
    <div class="bar-content">
        <div id="navigation" class="menu-top">
            <div class="navbar navbar-static-top" role="banner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <nav class="collapse navbar-collapse navbar-right ">
                                <ul id="menu-menu-header" class="nav navbar-nav ">
                                    <li id="menu-item-108"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-88 current_page_item menu-item-108">
                                        <a href="https://vnvc.vn/">TRANG CHỦ</a></li>
                                    <li id="menu-item-107"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-107">
                                        <a href="/">GIỚI THIỆU</a>
                                    </li>
                                    <li id="menu-item-8061"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-8061">
                                        <a href="https://vnvc.vn/tiem-chung-cho-tre-em/">TIÊM CHỦNG CHO TRẺ EM</a>
                                    </li>
                                    <li id="menu-item-8306"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-8306">
                                        <a href="https://vnvc.vn/tiem-chung-cho-nguoi-lon/">TIÊM CHỦNG CHO NGƯỜI
                                            LỚN</a>
                                    </li>
                                    <li id="menu-item-2034"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2034">
                                        <a href="https://vnvc.vn/goi-vac-xin-danh-cho-tre-em/">DỊCH VỤ GÓI TIÊM</a>
                                    </li>
                                    <li id="menu-item-1972"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1972">
                                        <a href="https://vnvc.vn/cam-nang-tiem-chung/lich-tiem-chung/">CẨM NANG TIÊM
                                            CHỦNG</a>
                                    </li>
                                    <li id="menu-item-6188"
                                        class="hidden-lg hidden-md hidden-sm menu-item menu-item-type-custom menu-item-object-custom menu-item-6188">
                                        <a href="https://vnvc.vn/tra-cuu-ket-qua/">TRA CỨU LỊCH SỬ TIÊM CHỦNG</a>
                                    </li>
                                    <li id="menu-item-2157"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2157">
                                        <a href="https://vnvc.vn/bang-gia/">BẢNG GIÁ</a></li>
                                    <li id="menu-item-9219"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-9219">
                                        <a href="https://vnvc.vn/thong-tin-benh-hoc/">BỆNH HỌC</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-9220"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9220">
                                                <a href="https://vnvc.vn/thong-tin-benh-hoc/">Thông Tin Bệnh Học</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-6209"
                                        class="hidden-lg hidden-md hidden-sm menu-item menu-item-type-custom menu-item-object-custom menu-item-6209">
                                        <a href="https://vnvc.vn/tin-tuc/">TIN TỨC</a></li>
                                    <li id="menu-item-8021"
                                        class="dangkythongtintiemchung_header hidden-sm hidden-md hidden-lg menu-item menu-item-type-post_type menu-item-object-page menu-item-8021">
                                        <a href="https://vnvc.vn/dang-ky-thong-tin-tiem-chung/">ĐĂNG KÝ THÔNG TIN
                                            TIÊM CHỦNG</a></li>
                                    <li id="menu-item-5232"
                                        class="item_ttt_header hidden-sm hidden-md hidden-lg menu-item menu-item-type-post_type menu-item-object-page menu-item-5232">
                                        <a href="https://vnvc.vn/he-thong-trung-tam-tiem-chung/">TÌM TRUNG TÂM</a>
                                    </li>
                                    <li id="menu-item-7552"
                                        class="hidden-sm hidden-md hidden-lg muavacxinonline menu-item menu-item-type-custom menu-item-object-custom menu-item-7552">
                                        <a href="http://shop.vnvc.vn/">ĐẶT MUA VẮC XIN</a></li>
                                    <li id="menu-item-5386"
                                        class="hidden-lg hidden-md hidden-sm kdong menu-item menu-item-type-custom menu-item-object-custom menu-item-5386">
                                        <a
                                            href="https://vnvc.vn/chuong-trinh-tra-gop-0-lai-xuat-khi-mua-goi-vac-xin/">.</a>
                                    </li>
                                    <li id="menu-item-11408"
                                        class="hidden-lg hidden-md hidden-sm mb_nutrihome menu-item menu-item-type-custom menu-item-object-custom menu-item-11408">
                                        <a target="_blank" href="https://nutrihome.vn/">DINH DƯỠNG &#8211; Y HỌC VẬN
                                            ĐỘNG</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--navigation-->

    </div>
    <!--bar-content-->
    <div class="clear"></div>


</header><!-- /header -->