<div class="container">
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-md-8">
      <form [formGroup]="patientCreateForm" (ngSubmit)="onSubmit()">
        <div class="d-flex justify-content-center">
          <h3>TẠO MỚI KHÁCH HÀNG (BỆNH NHÂN)</h3>
        </div>
        <hr>
        <div class="form-group row">
          <label for="name" class="col-sm-4 col-form-label">Họ và tên bệnh nhân:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="name" placeholder="vd: Nguyễn Văn A" formControlName="fullName">
            <p *ngIf="patientCreateForm.controls.fullName.errors?.required && patientCreateForm.controls.fullName.touched"
               class="text-danger font-weight-bold"><b><i>
              Tên bệnh nhân không được để trống !</i></b></p>
            <p *ngIf="patientCreateForm.controls.fullName.errors?.pattern && patientCreateForm.controls.fullName.touched"
               class="text-danger font-weight-bold"><b><i>
              Tên bệnh nhân không được chứa kí tự đặc biệt và số !</i></b></p>
          </div>
        </div>
        <div class="form-group row">
          <label for="birthday" class="col-sm-4 col-form-label">Ngày sinh:</label>
          <div class="col-sm-8">
            <input type="date" class="form-control" id="birthday" formControlName="birthDay">
            <p
              *ngIf="patientCreateForm.controls.birthDay.errors?.required && patientCreateForm.controls.birthDay.touched"
              class="text-danger font-weight-bold"><b><i>
              Ngày sinh không được để trống !</i></b></p>
          </div>
        </div>
        <div class="form-group row">
          <label for="protector" class="col-sm-4 col-form-label">Người giám hộ:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="protector" placeholder="vd: Nguyễn Văn B" formControlName="parentName">
            <p
              *ngIf="patientCreateForm.controls.parentName.errors?.required && patientCreateForm.controls.parentName.touched"
              class="text-danger font-weight-bold"><b><i>
              Ngày giám hộ không được để trống !</i></b></p>
            <p
              *ngIf="patientCreateForm.controls.parentName.errors?.pattern && patientCreateForm.controls.parentName.touched"
              class="text-danger font-weight-bold"><b><i>
              Người giám hộ không được chứa kí tự đặc biệt và số !</i></b></p>
          </div>
        </div>
        <div class="form-group row">
          <label for="parentIdCard" class="col-sm-4 col-form-label">CMND:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="parentIdCard" placeholder="vd: 197351234" formControlName="parentIdCard">
            <p
              *ngIf="patientCreateForm.controls.parentIdCard.errors?.required && patientCreateForm.controls.parentIdCard.touched"
              class="text-danger font-weight-bold"><b><i>
              CMND không được để trống !</i></b></p>
            <p
              *ngIf="patientCreateForm.controls.parentIdCard.errors?.pattern && patientCreateForm.controls.parentIdCard.touched"
              class="text-danger font-weight-bold"><b><i>
              CMND gồm 9 kí tự số !</i></b></p>
          </div>

        </div>
        <div class="form-group row">
          <div class="d-flex justify-content-center col-sm-8 mt-3">
            <button [disabled]="patientCreateForm.invalid" type="submit" class="btn btn-primary mr-3" style="width: 100px">Lưu</button>
          </div>
          <div class="col-sm-4 mt-3">
            <button type="button" class="btn btn-danger mr-3" style="width: 100px" mat-dialog-close="cancel">Hủy</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
