<div style="background-color: white">
  <div class="row mt-3">
    <div class="col-md-3"></div>
    <div class="col-md-6">  <h3> Lịch Trình Tiêm Chủng Chi Tiết Bệnh Nhân</h3>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row" >
    <div class="col-md-4"></div>
    <div class="col-md-2">
      <p>Tên Bệnh Nhân : </p>
      <p>Ngày sinh : </p>
      <p>Email : </p>
      <p>Địa chỉ : </p>
    </div>
    <div class="col-md-6">
      <p>{{patient.fullName}}</p>
      <p>{{patient.birthDay}}</p>
      <p>{{patient.email}}</p>
      <p>{{patient.address}}</p>
    </div>
  </div>
  <mat-accordion *ngFor="let vaccineRoad of patient.vaccineRoadList" MatAccordionDisplayMode='default|flat'>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header >
        <mat-panel-title>
          {{"Tên Vắc Xin : " + vaccineRoad.vaccine.name}}
        </mat-panel-title>
        <mat-panel-description>
          Loại Vắc-xin : {{vaccineRoad.vaccine.category}}
          {{" Quốc Gia Sản Xuất : " + vaccineRoad.vaccine.country}}
        </mat-panel-description>

        <mat-icon>medical_services
        </mat-icon>
        <span>&nbsp;</span>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="vaccineRoad.vaccineRoadDetailsList" class="mat-elevation-z8">

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Đợt Tiêm</th>
          <td mat-cell *matCellDef="let element"> {{element.injectionTimes}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Ngày Tiêm</th>
          <td mat-cell *matCellDef="let element"> {{element.injectionDate|date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Trạng Thái</th>
          <td mat-cell *matCellDef="let element">
          <span *ngIf="!element.isInjected"
                class="badge badge-danger"> {{element.isInjected ? 'Hoàn Thành' : 'Chưa Hoàn Thành'}}</span>
            <span *ngIf="element.isInjected"
                  class="badge badge-success"> {{element.isInjected ? 'Hoàn Thành' : 'Chưa Hoàn Thành'}}</span>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Thao Tác</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" data-toggle="modal" [attr.data-target]="'#exampleModal'+element.id">
              Hoàn Thành
            </button>
            <!-- Modal -->
            <div class="modal fade" [id]="'exampleModal'+element.id" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác Nhận Hoàn Thành</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" (click)="changeStatus(element.id)" data-dismiss="modal">
                      Xác Nhận
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>

</div>
