<!-- <div class="p-0 ml-3 mr-3 ">
    <div class="row d-flex justify-content-center">
        <h3 class="modal-title">THÔNG TIN VẮC XIN CẦN NHẬP KHO</h3>
    </div>
    <hr>
    <form [formGroup]="createForm">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <label class="col-sm-5 pr-0 col-form-label">Tên vắc xin <span class="text-danger">*</span> :</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" formControlName="name">
                        <div *ngIf="importForm.get('name').touched">
                            <ng-container *ngFor="let error of importErrors.nameErrors">
                                <small *ngIf="importForm.get('name').hasError(error.name)" class="d-block text-danger">
                                    {{error.message}}
                                </small>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="row ml-2 ">
                    <label class="col-sm-5 pr-0 col-form-label">Hàm lượng(ml) <span class="text-danger">*</span>
                        :</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" formControlName="content">
                        <div *ngIf="content.touched">
                            <ng-container *ngFor="let error of importErrors.contentErrors">
                                <small *ngIf="content.hasError(error.name)" class="d-block text-danger">
                                    {{error.message}}
                                </small>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row mt-4">
                    <label class="col-sm-5 pr-0 col-form-label">Loại vắc xin <span class="text-danger">*</span>
                        :</label>
                    <div class="col-sm-7">
                        <input type="text" name="name" class="form-control" formControlName="category">
                        <div *ngIf="category.touched">
                            <ng-container *ngFor="let error of importErrors.categoryErrors">
                                <small *ngIf="category.hasError(error.name)" class="d-block text-danger">
                                    {{error.message}}
                                </small>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="row ml-2 mt-4">
                    <label class="col-sm-5 pr-0 col-form-label">Số lượng <span class="text-danger">*</span> :</label>
                    <div class="col-sm-7">
                        <input type="number" name="phone" class="form-control" formControlName="amount">
                        <div *ngIf="amount.touched">
                            <ng-container *ngFor="let error of importErrors.amountErrors">
                                <small *ngIf="amount.hasError(error.name)" class="d-block text-danger">
                                    {{error.message}}
                                </small>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row mt-4">
                    <label class="col-sm-5 pr-0 col-form-label">Ngày nhập <span class="text-danger">*</span> :</label>
                    <div class="col-sm-7">
                        <input type="date" max="{{today | date: 'yyyy-MM-dd'}}" formControlName="receiveDate"
                            class="form-control">
                        <div *ngIf="receiveDate.touched">
                            <ng-container *ngFor="let error of importErrors.receiveDateErrors">
                                <small *ngIf="receiveDate.hasError(error.name)" class="d-block text-danger">
                                    {{error.message}}
                                </small>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row ml-2 mt-4">
                    <label class="col-sm-5 pr-0 col-form-label">Hạn sử dụng <span class="text-danger">*</span> :</label>
                    <div class="col-sm-7">
                        <input type="date" min="{{today | date: 'yyyy-MM-dd'}}" formControlName="expiryDate"
                            class="form-control">
                        <div *ngIf="expiryDate.touched">
                            <ng-container *ngFor="let error of importErrors.expiryDateErrors">
                                <small *ngIf="expiryDate.hasError(error.name)" class="d-block text-danger">
                                    {{error.message}}
                                </small>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row mt-4">
                    <label class="col-sm-5 pr-0 col-form-label">Số giấy phép <span class="text-danger">*</span>
                        :</label>
                    <div class="col-sm-7">
                        <input type="text" formControlName="licenseCode" class="form-control">
                        <div *ngIf="licenseCode.touched">
                            <ng-container *ngFor="let error of importErrors.licenseCodeErrors">
                                <small *ngIf="licenseCode.hasError(error.name)" class="d-block text-danger">
                                    {{error.message}}
                                </small>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="row ml-2 mt-4">
                    <label class="col-sm-5 pr-0 col-form-label">Bảo quản <span class="text-danger">*</span> :</label>
                    <div class="col-sm-7">
                        <input type="text" formControlName="conditions" class="form-control">
                        <div *ngIf="conditions.touched">
                            <ng-container *ngFor="let error of importErrors.conditionsErrors">
                                <small *ngIf="conditions.hasError(error.name)" class="d-block text-danger">
                                    {{error.message}}
                                </small>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row mt-4">
                    <label class="col-sm-5 pr-0 col-form-label">Nước sản xuất <span class="text-danger">*</span>
                        :</label>
                    <div class="col-sm-7">
                        <input type="text" formControlName="country" class="form-control">
                        <div *ngIf="country.touched">
                            <ng-container *ngFor="let error of importErrors.countryErrors">
                                <small *ngIf="country.hasError(error.name)" class="d-block text-danger">
                                    {{error.message}}
                                </small>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="row ml-2 mt-4">
                    <label class="col-sm-5 pr-0 col-form-label">Độ tuổi <span class="text-danger">*</span> :</label>
                    <div class="col-sm-7">
                        <input type="number" formControlName="limitAge" class="form-control">
                        <div *ngIf="limitAge.touched">
                            <ng-container *ngFor="let error of importErrors.limitAgeErrors">
                                <small *ngIf="limitAge.hasError(error.name)" class="d-block text-danger">
                                    {{error.message}}
                                </small>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row mt-4">
                    <label class="col-sm-5 pr-0 col-form-label">Đơn giá(/ml) <span class="text-danger">*</span>
                        :</label>
                    <div class="col-sm-7">
                        <input type="number" formControlName="price" class="form-control">
                        <div *ngIf="price.touched">
                            <ng-container *ngFor="let error of importErrors.priceErrors">
                                <small *ngIf="price.hasError(error.name)" class="d-block text-danger">
                                    {{error.message}}
                                </small>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row d-flex justify-content-center mb-3">
            <button type="submit" class="btn btn-info mr-3 pr-3 pl-3" (click)="import()" [disabled]="importForm.invalid"
                data-dismiss="modal">Đăng ký</button>
            <button type="button" class="btn btn-danger pr-3 pl-3" data-dismiss="modal">Hủy</button>
        </div>
    </form>

</div> -->